a {
    color: aliceblue;
}

/*
Header
*/

/* Logo */
.brandLogo {
    width: 36px;
    height: 36px;
    background-image: url("../../assets/img/logos/shopping-cart-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.app-footer {
    background-color: black;
    color: aliceblue;
}

.mouse-wheel {
    width: 50px;
    height: 50px;
    margin: -25px auto;
    display: block;
    background: #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
    color: #000000;
    font-size: 20px;
}
