.product {
    width: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: block;
    overflow: hidden;
    /*-webkit-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);*/
    background: #fafafa;
    z-index: 1;
}
.product:hover .addToCart {
    visibility: visible;
}

.product:hover {
    -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.7);
}

.product_name {
    color: darkred;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.addToCart {
    margin: 0 auto;
    visibility: hidden;
    border-radius: 5px;
}
.addToCart:hover {
    border-radius: 5px;
    border-color: #2bbbad  !important;
    background-color: #2bbbad !important;
    color: #FFFFFF !important;
}




.top-brands {
    width: 86px;
    height: auto;
    margin: 0 auto;
}
