.required {
    color: red;
}
.starRating {
    width: 16px;
    height: 16px;
    margin-top: -5px;
}
.starRating:hover {
    background: url("../../assets/img/icons/star.png");
    width: 16px;
    height: 16px;
    cursor: pointer;
}
