/*ProductOrder*/
.quantityButton {
    border-radius: 5px;
    padding: 2px 6px;
}
.quantityUnit {
    border-radius: 5px;
    border: 2px solid gray;
}




/*ProductDetail*/
.cursor {
    cursor: pointer;
}
ul li {
    list-style-type: disc;
}
